body {
    margin: 5px 50px;
    width: 100%;
    background-color: #f4faf6;
    height: auto;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #333333;
    line-height: 22px;
    padding-left: 15px;
    padding-right: 15px;
}
header{
    display: flex;
    align-items: center;
    /* grid-template-columns: 50% 50%; */
    background-color: #292728;
    background-image: url("../res/header-bg.png");
    width: 90%;
    margin-right: 150px;
    
}
/* .logo{
    width: 100%;
    height:100%; 
} */
.logo img{
    height: 100%;
    width: 100%;
    align-self: center;
     padding-top : 20px;
    padding-left: 15px;
    padding-bottom: 20px; 
}
.bars{
    align-self: flex-start;
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.top-right-bar{
   
    display:  flex;
    height: 100%;
    color: #ffffff;
    padding-top: 15px;
    padding-right: 15px;
    
}
.top-right-bar a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    padding-left: 5px;
}
.top-right-bar a:hover, .top-right-bar a:focus{
    opacity: 0.7;
    background-color: #292728;
}

.search input{
    font-size: 1.7em;
}
.search button{
    font-size: 1.7em;
}
a:hover, a:focus, a#home{
    background-color: #1eb8c0;
    color: #ffffff;
    /* text-align: center; */
    /* padding-right: 10px; */
}
nav{
    margin-top: 2%;
    font-size: 1.4em;
    
}
nav a{
    margin-left: 2%;
    padding-left: 1%;
    text-decoration: none;
    color: #333333;
    padding: 10px;
}
/* -------------products-list----------- */
.products-list{
    display: flex;
    flex-wrap: wrap;
    /* justify-content:  */
    padding-left: 20px;
    width: 80%;
    height: auto;
}
.product{
    /* display: block; */
    flex: 1 0 20%;
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
}
.product-title{
    width: 70%;
    text-align: center;
}
.product-img{

    width: 90%; 
    height: 170px;
    border: 1px solid #00b8c1;
}
/* ------------footer------------------ */
footer{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin-right: 150px;
    background-color: #292728;
    background-image: url("../res/header-bg.png");
}
.footer-social-bar{
    display: flex;
    width: 25%;
    color: #ffffff;
    justify-content: flex-start;
    
}
.footer-social-bar a{
    font-size: 1.1em;
    width: 5%;
    padding: 10px;
    margin-top: 15px;
    margin-left: 3%;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #333333;
    background-color:#ffffff; 
}
.footer-social-bar a:hover, .footer-social-bar a:focus{
    opacity: 0.7;
}
.widgets-header{
    align-self: center;
    color: #00b8c1;
}
.widgets{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 25px;
}
.widget{
    /*  */
    width: 50%;
}
.widget input{
    /*  */
    width: 70%;
}
.widget ul, .widget li{
    margin: 0%;
    padding: 0%;
    padding-bottom: 10px;
    list-style: none;
}
.widget a{
    color: #ffffff;
    text-decoration: none;
}
.pay-logo-bar{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color: #00b8c1;
    margin: 40px 70px;
    height: 150px;
}
.payment-banner *{

    padding-right: 50px;
    
}
.footer-logo{
    width: auto;
    height: 100%;
}
.payment-method{
    width: auto;
    height: auto;
}

/* -----------responsive for Ipad---------------------------*/

@media only screen and (min-width : 768px) and (max-width: 1024px) {
    body{
       font-size: 0.5em;
    }
    header {
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .bars {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    nav{
       display: flex;
       justify-content: flex-start;
   }


}
/* -----------responsive for phone---------------------------*/

@media only screen and (min-width : 375px) and (max-width : 667px) {
    body{
        margin: 0 10px;
    }
    nav{
        display: none;
    }
    /* ----------produtsList ------ */
    .products-list{
        width: 95%;
        justify-content: space-around;
        align-items: flex-start;
        padding-left: 5px;
    }
    .product{
        flex: 1 0 35%;
        width: 40%;
    }
    .product-img{
        width: 90%;
        height: 120px;
    }
    /*-----------footer-----------*/
    .footer-social-bar{
        width: 100%;
        justify-content: center;
    }
    .widgets-header, .widgets{
        flex-wrap: wrap;
        align-items: center;
    }
    .pay-logo-bar{
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        font-size: 0.7em;
        margin-top: 0%;
    }
    .payment-banner{
        margin-top: 0px;
       margin-left: 30%;
       margin-bottom: 10%;
    }
    .payment-method{
        width: 50%;
    }
    .footer-logo{
        height: 100%;
        margin-bottom: 10px;
    }
    
}